.button {
  color: #FFF;
  background: var(--accentColor);
  padding: 10px 50px;
  margin: 20px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: all .2s;
}

.button:hover {
  background: var(--accentColorHover);
  transform: scale(1.05);
}

.button:disabled {
  color: var(--accentColor);
  border: 1px solid var(--accentColor);
  background: #FFF;
  cursor: not-allowed;
}

.button:disabled:hover {
  background: #EEE;
}

.icon {
  padding-right: 5px;
}
