.contentBox {
  background: #FFF;
  box-shadow: 1px 1px 3px #CCC;
  border-radius: 3px;
}

.users {
  list-style-type: none;
}

.user {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 15px 25px;
  background: #EEE;
}

.id {
  display: flex;
  flex: 1;
  cursor: pointer;
}

.name,
.email {
  display: flex;
  flex: 3;
  margin: 0 20px 0 10px;
  cursor: pointer;
}

.formHeader {
  display: flex;
  flex-wrap: wrap;
}

.loader {
  display: block;
  margin: 0 auto;
  padding: 200px 10px;
}

@media (max-width: 650px) {
  .user {
    display: flex;
    align-items: baseline;
  }
  .user:before {
    content: "Sort by:";
    text-transform: initial;
  }

  .id,
  .name,
  .email {
    margin: 0;
    padding: 5px 0;
    flex: none;
  }
}
