.user {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 15px 25px;
  color: #444;
}

.user:nth-of-type(even) {
  background: #F9F9F9;
}

.id {
  display: flex;
  flex: 1;
  color: #666;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 34px;
  border: 1px solid #EDEDED;
  background: #FFF;
  width: 40px;
  height: 40px;
}

.name,
.email {
  display: flex;
  flex: 3;
  margin: 0 20px 0 10px;
}

.removeUserButton {
  border: none;
  background: none;
  color: #AAA;
  font-size: 16px;
  cursor: pointer;
  transition: color .2s;
}

.removeUserButton:hover {
  color: #000;
}

@media (max-width: 650px) {
  .user {
    flex-direction: column;
  }

  .removeUserButton {
    display: flex;
    align-self: flex-end;
    order: 1;
  }

  .id {
    margin-bottom: 10px;
    order: 2;
  }

  .name {
    order: 3;
  }

  .email {
    order: 4;
  }
}
