:root {
  --accentColor:  #6751a0;
  --accentColorHover: #58448c;
  --errorColor: #FF0000;
  --successColor: #71c635;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background: #F9FBFA;
  padding: 10px;
}

.information {
  color: #222;
}

.error {
  color: var(--errorColor);
}

.success {
  color: var(--successColor);
}
